* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'segoe', sans-serif;
    background: #ffffff;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: rgb(2, 2, 2);
    position: relative;
    z-index: 10;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.nav-link{
    display: flex;
    list-style: none;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
}
.nav-link li{
    position: fixed;
    top: 0;
}
.nav-link li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    background-color: #000;
}
.nav-link li:hover{
    background: #ffffff;
    border-radius: 4px;
}

.logo{
    text-align: center;
    top: 45px;
}
.intro{
    text-align: center;
}
.dedication{
    text-align: center;
    width: 80%;
    height: auto;
    margin: auto;
}
.vision{
    text-align: center;
    width: 90%;
    height: auto;
    margin: auto;
}
.mission{
    text-align: center;
    width: 90%;
    height: auto;
    margin: auto;
}
.MESSAGE {
      display: flex;
      align-items: justify;
      justify-content: space-between;
      width: 100%;
      margin: 0px auto;
      margin-top: 50px;
      text-align: justify;
      gap: 10px;
      margin-left: auto;
      margin-right: auto;
}
.text {
      flex: 1;
}
.image {
      flex: 1;
      text-align: right;
}
.image img {
      width: 200px;
}
.below{
    text-align: justify;
    margin-top: 20;
    margin-left: auto;
    margin-right: auto;
}
.name{
    text-align: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.MESSAGE1 {
      display: flex;
      align-items: justify;
      justify-content: space-between;
      width: 100%;
      margin: 0px auto;
      margin-top: 50px;
      text-align: justify;
      gap: 10px;
      margin-left: auto;
    margin-right: auto;
}
.text {
      flex: 1;
}
.image1 {
      flex: 1;
      text-align: right;
}
.image1 img {
      width: 200px;
}
.below1{
    text-align: justify;
    margin-top: 20;
    margin-left: auto;
    margin-right: auto;
}
.name1{
    text-align: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.MESSAGE2 {
      display: flex;
      align-items: justify;
      justify-content: space-between;
      width: 100%;
      margin: 0px auto;
      margin-top: 50px;
      text-align: justify;
      gap: 10px;
      margin-left: auto;
    margin-right: auto;
}
.text {
      flex: 1;
}
.image2 {
      flex: 1;
      text-align: right;
}
.image2 img {
      width: 200px;
}
.below2{
    text-align: justify;
    margin-top: 20;
    margin-left: auto;
    margin-right: auto;
}
.name2{
    text-align: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.teachers{
    text-align: justify;
    width: 80%;
    height: auto;
    margin: auto;
}

.teachers img{
    width: 80%;
    height: auto;
    text-align: center;
    display: block;
    margin: auto;
}

.BSAIS {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.BSCS {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.BSE {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.BSIS {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.Abm {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.ict {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.stem {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.pic1 {
    background: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pic1 p {
    text-align: center;
    font-weight: bold;
}

.pic1 img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.course {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: 3px solid #000;
    display: inline-block;
}

.strand {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: 3px solid #000;
    display: inline-block;
}

.strand1 {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: 3px #000;
    display: inline-block;
}

.course1 {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: 3px #000;
    display: inline-block;
}

.college {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

.SH {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

.Other {
    font-size: 23px;
    text-align: left;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.loyalty {
    text-align: center;
    width: 70%;
    height: auto;
    margin: auto;
    gap: 20px;
}

.pledge {
    text-align: center;
    width: 70%;
    height: auto;
    margin: auto;
}

.million {
    text-align: center;
    width: 70%;
    height: auto;
    margin: auto;
}

.hymn {
    text-align: center;
    width: 70%;
    height: auto;
    margin: auto;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #000;
}

.last {
    text-align: center;
    width: 70%;
    height: auto;
    margin: auto;
}